body
	font-family "ProximaNovaCond-Regular"
	margin 0

.dot
	width 200px
	height 200px
	border-radius 100px
	background red
	&.active
		background green
.content
	height 88vh
	width 100vw
	overflow hidden
.page-img
	width 100vw

.menu
	position fixed
	bottom 0
	height 12vh
	width 100vw
	ul
		padding 0
		list-style none
		display flex
		flex-direction row
		li
			flex 1
			a
				text-decoration none
				color black
				text-align center
				img, span
					margin 0 auto
					display block



				span
					width 100%
					text-align center
					font-size 2vh

			iconfactor = 0.2
			.icon-wrapper
				height 5vh
			&:nth-child(1)
				a img
					//18px
					width 18 * iconfactor vh
			&:nth-child(2)
				a img
					//18px
					width 18 * iconfactor vh
			&:nth-child(3)
				a img
					//10px
					width 10 * iconfactor vh
			&:nth-child(4)
				a img
					//14px
					width 14 * iconfactor vh

